[submodule "turbin3-rs-prereq-rz"]
	path = turbin3-rs-prereq-rz
	url = https://github.com/rafaelzochling/turbin3-rs-prereq-rz
[submodule "turbin3-ts-prereq-rz"]
	path = turbin3-ts-prereq-rz
	url = https://github.com/rafaelzochling/turbin3-ts-prereq-rz
[submodule "turbin3-solana-starter"]
	path = turbin3-solana-starter
	url = https://github.com/rafaelzochling/turbin3-solana-starter
[submodule "turbin3-capstone-tokenized-vaults"]
	path = turbin3-capstone-tokenized-vaults
	url = https://github.com/rafaelzochling/turbin3-capstone-tokenized-vaults.git
[submodule "turbin3-tokenized-vaults-program"]
	path = turbin3-tokenized-vaults-program
	url = https://github.com/rafaelzochling/turbin3-tokenized-vaults-program.git
